table, th, td {
    border-collapse: collapse;
  }
  th, td {
    width: 250px;
    text-align: left;
  }
  .iconDesc{
    font-size: large;
  }
  input#find{
    width: 150px
  }
  .menuButton{
    margin: auto;
  }

  .menuButton:hover{
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  .upDown{
    padding-left: 10px;
  }
 
  .sortOrder:hover{
    cursor: pointer;
  }
