
table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#tableWrapper{
    border: solid 5px rgb(202, 198, 198);
}
tr, td{
    padding: 5px;
    
}
input{
    width: 200px;
    height: 28px;
    border: solid 1px;
    border-radius: 5px;
    padding-left: 5px;
}
#submitButton{
    
    color: white;
    background-color: green;    
    
}
.buttons{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
}
h2{
    text-align: center;
    margin-bottom: 50px;
}
#deleteButton{
    margin-left: 50px;
    color: white;
    background-color: rgb(204, 34, 4);
}